.Container{
    margin-left: 15%;
    margin-right:15%;
    padding:2%;
  
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    border-radius: 0.375rem;

    margin-bottom:5%;
    
   
}
.topContainer{
    
    display:grid;
    grid-template-columns: 50% 50%;
    text-align: left;
    padding:10px;
   
}
.bottomContainer{
    
  display:grid;
  grid-template-columns: 50% 50%;
  margin:0;      
  text-align: left;
   
}
.IMG{
margin-left:4%;
min-width: 0px;
    max-width: 100%;
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.178) 0px 0px 0px 1px;
    object-fit: cover;
    width: 120px;
    height: 120px;
}

.select{
    background-color: rgb(60, 82, 102);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 600;
    width:250px;
    text-align: center;
    padding: 10px 30px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;

}
.sideTitle{
    display: block;
    min-width: 0px;
    font-family: inherit;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    margin-left:0;
}
.SummaryName{
    margin: 0px;
    min-width: 0px;
    font-family: inherit;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
}
.SummaryAbout{
    margin: 0px;
    min-width: 0px;
    font-family: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: rgb(112, 112, 112);
}
.main{
    float:left;
    padding:10%;
}
.nameContainer{
    display: grid;
    grid-template-columns: 70% 30%;
}
.summary{
    background-color:rgba(255, 255, 255, 0.178);
    padding:2%;
    
    text-align: initial;
  
    margin-bottom:2%;

}

.price{
    margin-top:40px;
    color:rgba(68, 68, 68, 0.849);
    font-size: medium;
}
@media  screen and (max-width:700px){
    .Container{
        margin:2%;
    }
    
    .topContainer{
        display:grid;
        grid-template-columns: 100%;
        text-align: center;
     
        
    }
    .select{
        margin-left:0;
        width:80%;
        font-size: x-large;
        width:55%;
        box-shadow:0 5px 10px rgba(0,0,0,.5);
    }
}
